# cancunf project sku

on property:ro.boot.hardware.sku="XT2431-1"
    setprop bluetooth.device.default_name "moto g64 5G"
    setprop vendor.usb.product_string "moto g64 5G"

on property:ro.boot.hardware.sku="XT2431-2"
    setprop bluetooth.device.default_name "moto g64y 5G"
    setprop vendor.usb.product_string "moto g64y 5G"
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp_220.conf"
    mount none /product/etc/felica_ymobile /product/etc/felica bind

on property:ro.boot.hardware.sku="XT2431-3"
    setprop bluetooth.device.default_name "moto g64 5G"
    setprop vendor.usb.product_string "moto g64 5G"
    setprop persist.vendor.nfc.config_file_name "libnfc-nxp_220.conf"

on init && property:ro.vendor.hw.esim="false"
    mount none /product/lost+found /product/etc/permissions/android.hardware.telephony.euicc.xml bind

on init && property:ro.boot.hardware.sku="XT2431-1"
    setprop vendor.powerhal.config powerhint-cancunp.json

on init && property:ro.boot.hardware.sku="XT2431-2"
    setprop vendor.powerhal.config powerhint-cancunp.json

on init && property:ro.boot.hardware.sku="XT2431-3"
    setprop vendor.powerhal.config powerhint-cancunp.json

on post-fs && property:ro.vendor.hw.ram=4GB
    setprop dalvik.vm.heapstartsize 8m
    setprop dalvik.vm.heapgrowthlimit 192m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.6
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 16m

on post-fs && property:ro.vendor.hw.ram=8GB
    setprop dalvik.vm.heapstartsize 24m
    setprop dalvik.vm.heapgrowthlimit 256m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.46
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 48m

on post-fs && property:ro.vendor.hw.ram=12GB
    setprop dalvik.vm.heapstartsize 24m
    setprop dalvik.vm.heapgrowthlimit 384m
    setprop dalvik.vm.heapsize 512m
    setprop dalvik.vm.heaptargetutilization 0.42
    setprop dalvik.vm.heapminfree 8m
    setprop dalvik.vm.heapmaxfree 56m

# NFC
on property:ro.vendor.hw.nfc=nq && property:persist.vendor.nfc.config_file_name=*
    start vendor.nfc_hal_service

on property:ro.vendor.hw.nfc=ese_nq && property:persist.vendor.nfc.config_file_name=*
    start vendor.nfc_hal_service

on property:ro.vendor.hw.nfc=true && property:persist.vendor.nfc.config_file_name=*
    start vendor.nfc_hal_service

on property:ro.vendor.hw.nfc=nxp && property:persist.vendor.nfc.config_file_name=*
    start vendor.nfc_hal_service

on property:ro.vendor.hw.nfc=ese_nxp && property:persist.vendor.nfc.config_file_name=*
    start vendor.nfc_hal_service

on property:ro.vendor.hw.nfc=ese_nq
    start vendor.secure_element_hal_service

on post-fs && property:ro.vendor.hw.nfc=false
    stop mtk_secure_element_hal_service

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    disabled

service vendor.secure_element_hal_service /vendor/bin/hw/android.hardware.secure_element-service.nxp
    override
    class hal
    user secure_element
    group secure_element
    disabled
