<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: PixelOS
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.cancunf.xt23431">

    <overlay
        android:isStatic="true"
        android:priority="300"
        android:requiredSystemPropertyName="ro.boot.hardware.sku"
        android:requiredSystemPropertyValue="XT2343-1"
        android:targetPackage="android" />
</manifest>
